# Logs
logs
*.log
npm-debug.log*


# Ignore node_modules
node_modules

# Ignore build outputs
build
build-ssr

# Ignore environment files
*.local
*.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp

# Compiled JavaScript files
*.js
*.jsx
# Local Netlify folder
.netlify
