form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

input,
textarea {
  background-color: var(--color-bg-white);
  color: var(--color-black-900);
  font-family: var(--font-roboto);
  caret-color: var(--color-text-primary);
  border: 1px solid var(--color-border-input);
  font-size: 0.875rem;
  font-weight: 400;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px var(--color-black-800);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-input-placeholder);
  font-size: 0.875rem;
}

form:focus-visible {
  outline: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-oswald);
  font-weight: 700;
}

p {
  font-family: var(--font-roboto);
}
