@import './skeleton.css';
@import './autofill.css';
@import './scroll.css';
@import './elements.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url('/assets/fonts/roboto-300.woff2') format('woff2'),
    url('/assets/fonts/roboto-300.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/assets/fonts/roboto-regular.woff2') format('woff2'),
    url('/assets/fonts/roboto-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  src: url('/assets/fonts/oswald-regular.woff2') format('woff2'),
    url('/assets/fonts/oswald-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  src: url('/assets/fonts/oswald-700.woff2') format('woff2'),
    url('/assets/fonts/oswald-700.woff') format('woff');
  font-display: swap;
}

:root {
  --color-primary-50: #f2f8fe;
  --color-primary-100: #d9e9fd;
  --color-primary-200: #c0dbfc;
  --color-primary-300: #a6ccfb;
  --color-primary-400: #8dbdfb;
  --color-primary-500: #73aefa;
  --color-primary-600: #589ef9;
  --color-primary-700: #3f8ff8;
  --color-primary-800: #2c6fcc;
  --color-primary-900: #1a4f99;

  --color-secondary-50: #f9f9f9;
  --color-secondary-100: #f3f3f3;
  --color-secondary-200: #eaeaea;
  --color-secondary-300: #dbdbdb;
  --color-secondary-400: #b7b7b7;
  --color-secondary-500: #979797;
  --color-secondary-600: #6f6f6f;
  --color-secondary-700: #5b5b5b;
  --color-secondary-800: #3d3d3d;
  --color-secondary-900: #1c1c1c;

  --color-negative-50: #ffebef;
  --color-negative-100: #ffced3;
  --color-negative-200: #f59b9b;
  --color-negative-300: #ed7374;
  --color-negative-400: #f95251;
  --color-negative-500: #ff4036;
  --color-negative-600: #f03535;
  --color-negative-700: #de2a2f;
  --color-negative-800: #d12228;
  --color-negative-900: #c2111b;

  --color-success-50: #e5f8e5;
  --color-success-100: #c1edbf;
  --color-success-200: #96e196;
  --color-success-300: #64d667;
  --color-success-400: #2ecc40;
  --color-success-500: #00c200;
  --color-success-600: #00b200;
  --color-success-700: #009f00;
  --color-success-800: #008e00;
  --color-success-900: #006e00;

  --color-warning-50: #fffee8;
  --color-warning-100: #fffac4;
  --color-warning-200: #fff69d;
  --color-warning-300: #fff174;
  --color-warning-400: #fded53;
  --color-warning-500: #fbe731;
  --color-warning-600: #ffde37;
  --color-warning-700: #ffc731;
  --color-warning-800: #ffaf29;
  --color-warning-900: #ff851b;
  --color-warning-1000: #e76b00;
  --color-warning-1100: #cf6000;

  --color-info-50: #e2f2fe;
  --color-info-100: #baddfd;
  --color-info-200: #8dc9fd;
  --color-info-300: #5db4fc;
  --color-info-400: #35a3fc;
  --color-info-500: #0094fb;
  --color-info-600: #0086ec;
  --color-info-700: #0074d9;
  --color-info-800: #0163c7;
  --color-info-900: #0044a8;

  --color-black-50: #f7f7f7;
  --color-black-100: #eeeeee;
  --color-black-200: #e3e3e3;
  --color-black-300: #d1d1d1;
  --color-black-400: #acacac;
  --color-black-500: #8b8b8b;
  --color-black-600: #646464;
  --color-black-700: #515151;
  --color-black-800: #333333;
  --color-black-900: #131313;

  /* --- Semantic Tokens --- */

  /* Colors disabled */

  --color-disabled-50: #efefef4d;
  --color-disabled-100: #e5e7eb;
  --color-disabled-200: #9ca3af;

  /* Colors text */

  --color-text-primary: #555555;
  --color-text-secondary: #979797;
  --color-text-white: #ffffff;
  --color-text-dark: #555555;
  --color-text-disabled: #c0c0c0;
  --color-text-orange: #ff851b;

  /* Colors focus */

  --color-focus-primary: var(--color-primary-500);
  --color-focus-secondary: var(--color-secondary-500);
  --color-focus-negative: var(--color-negative-700);
  --color-focus-success: var(--color-success-600);
  --color-focus-warning: var(--color-warning-1000);
  --color-focus-info: var(--color-info-500);

  /* Colors alpha */

  --color-primary-alpha-10: rgba(69, 182, 73, 0.1);
  --color-secondary-alpha-10: rgba(151, 151, 151, 0.1);
  --color-negative-alpha-10: rgba(255, 64, 54, 0.1);
  --color-success-alpha-10: rgba(0, 194, 0, 0.1);
  --color-warning-alpha-10: rgba(251, 231, 49, 0.1);
  --color-info-alpha-10: rgba(0, 148, 251, 0.1);

  /* Colors background */

  --color-surface: #ffffff;
  --color-surface-0: #fcfcfc;
  --color-surface-10: #f0f0f0;
  --color-surface-20: #e1e1e1;
  --color-surface-30: #d3d3d3;
  --color-surface-40: #c5c5c5;
  --color-surface-50: #b6b6b6;
  --color-surface-elevated-0: transparent;
  --color-surface-elevated-1: #ffffff;
  --color-surface-elevated-2: #ffffff;

  /* Colors loader */

  --loader-track-color: #eeeeee;
  --loader-spin-color: var(--color-primary-700);

  /* Colors icon */

  --icon-color-default: #555555;
  --icon-color-muted: #bbbbbb;
  --icon-color-hover: #333333;
  --icon-color-active: #111111;

  /* -------- */

  --font-roboto: 'Roboto', sans-serif;
  --font-oswald: 'Oswald', sans-serif;

  --max-w-sm: 1000px;
  --max-w-md: 1100px;
  --max-w-lg: 1200px;
  --max-w-xl: 1300px;

  --space-initial: 'initial';
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;

  /* Z-index */

  --z-negative: -1;
  --z-base: 0;
  --z-default: 1;
  --z-backdrop: 60;
  --z-popover: 100;
  --z-modal: 1000;
  --z-toast: 1100;

  /* ------- */

  --color-border-input: #757575;
  --color-border-loader: #dddddd;
  --color-bg-header: #373636;
  --color-input-placeholder: #757575;
  --color-bg-button-orange: #ff851b;
  --color-bg-button-orange-hover: #e57718;
  --color-bg-button-light-dark: #757575;
  --color-bg-button-light-dark-hover: #696969;

  --color-bg-white: white;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: var(--font-roboto);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
  min-height: inherit;
}
