::-moz-scrollbar {
  scrollbar-color: #555555 #f1f1f1;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background-color: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 100vh;
  background-clip: padding-box;
  background-color: var(--color-primary-700);
}

::-webkit-scrollbar-thumb:hover {
  border-width: 0;
}
