a.iconButton,
button.iconButton,
button.button {
  background-color: var(--color-black-700);
  border-color: var(--color-black-700);
  transition: 300ms linear;
}

a.iconButton:hover,
button.iconButton:hover,
button.button:hover {
  border-color: var(--color-black-800);
  background-color: var(--color-black-800);
}
