.header {
  width: 100%;
  background-color: var(--color-bg-header);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  color: var(--color-text-white);
  text-transform: uppercase;
}

.logo > span:first-child {
  color: var(--color-text-orange);
}
