.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: var(--color-surface-elevated-0);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
