.embla {
  max-width: 100%;
  --slide-size: 100%;
  --slide-spacing: 0.5rem;
}

.emblaViewport {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #555;
  overflow: hidden;
}

.emblaContainer {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.emblaSlide {
  position: relative;
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  width: 100%;
  padding: 0.5rem;
  background-color: white;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.redirectButton {
  padding: initial;
}

.sliderButton {
  padding: 0.5rem 1rem;
}

.buttonGroups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
