.embla {
  max-width: 100%;
  --slide-size: 100%;
  --slide-spacing: 0.5rem;
}

.emblaViewport {
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid #555;
}

.emblaContainer {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.emblaSlide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.sliderButton {
  padding: 0.5rem 1rem;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* @media (min-width: 35.938rem) {
  .embla {
    max-width: 500px;
  }
} */
