.container {
  width: 100%;
}

button.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

button.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-1rem, -50%);
}

button.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(1rem, -50%);
}

div.emblaViewport {
  border: none;
}

div.emblaSlide {
  display: flex;
  position: relative;
  flex: 0 0 100%;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  aspect-ratio: 16 / 7;
  width: 100%;
  min-width: 0;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.emblaSlideInner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

img.image {
  display: block;
  max-width: 100%;
  height: auto;
}
