.container {
  width: 100%;
}

button.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}

button.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-1rem, -50%);
}

button.prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(1rem, -50%);
}

div.emblaViewport {
  border: none;
}

div.emblaSlide {
  display: flex;
  position: relative;
  flex: 0 0 100%;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  aspect-ratio: 16 / 9;
  width: 100%;
  min-width: 0;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 250px;
  height: 250px;
}

.emblaSlideInner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: inherit;
}

div.wrapper {
  height: auto;
  min-height: inherit;
  background-color: #121212;
}

img.image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media (min-width: 575px) {
  div.emblaSlide {
    aspect-ratio: 16 / 7;
    min-height: initial;
    height: 100%;
  }

  .emblaSlideInner {
    min-height: initial;
  }

  div.wrapper {
    min-height: initial;
  }

  img.image {
    object-fit: initial;
  }
}

@media (max-width: 750px) {
  button.close {
    top: 0.5rem;
    right: 0.5rem;
    min-width: 0;
    padding: 4px 6px;
    font-size: 14px;
  }

  button.next {
    min-width: 0;
    padding: 4px 7px;
    font-size: 14px;
    transform: translate(-0.5rem, -50%);
  }

  button.prev {
    min-width: 0;
    padding: 4px 7px;
    font-size: 14px;
    transform: translate(0.5rem, -50%);
  }
}
