.modalElement,
.modalCleanElement {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: var(--z-modal);
  will-change: opacity, transform;
}

.modalElement {
  width: min(calc(100% - 2rem), 500px);
  border-radius: 2px;
}

.modalCleanElement {
  width: min(calc(100% - 2rem), 1300px);
  max-height: calc(100% - 2rem);
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.enter {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
}

.enterActive {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 300ms, transform 300ms;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
