.wrapper {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  backdrop-filter: blur(4px);
  will-change: transform, background-color;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
  width: 75%;
  touch-action: pan-x pinch-zoom;
  color: var(--color-text-white);
  font-size: 14px;
}

.wrapper.active {
  display: block;
  animation: slideDescription 1000ms 500ms linear forwards;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-height: 100%;
  overflow-x: clip;
  overflow-y: auto;
}

@keyframes slideDescription {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.title {
  color: var(--color-bg-button-orange);
  font-weight: 400;
  text-transform: uppercase;
}

.text {
  font-weight: 400;
  font-size: 12px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style: none;
}

.listItem {
  display: flex;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 12px;
}

.icon {
  color: var(--color-bg-button-orange);
  font-size: 12px;
}
